<md-content>
      <div layout="column" layout-align="space-between center">
           <form name="loginForm">


                <div layout-gt-sm="row">
             <md-input-container class="md-block" flex-gt-sm="">
            <label>Username</label>
            <input ng-model="user.username" autofocus>
          </md-input-container>

        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Password</label>
            <input ng-model="user.password" type="password">
          </md-input-container>


        </div>
        <md-button class="md-raised md-primary" aria-label="login" ng-click = "login()">Login</md-button>
           </form>
       </div>
       </md-content>
